.footer {
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #60b4b4;
    color: white;
 }

 .no-top {
    margin-top: 2px;
    margin-bottom: 2px;
 }

 .custom-footer-image {
   display: flex;
   justify-content: center;
}

.p-c {
   color: #3b7c82;
   opacity: 80%;
}

.goose {
   background-color: #3b7c82;
   border-color: #3b7c82; 
}

.goose:hover {
   background-color: #60b4b4;
   border-color: #60b4b4; 
}

.goose2 {
   background-color: #68d1be;
   border-color: #68d1be; 
}

.goose2:hover {
   background-color: #60b4b4;
   border-color: #60b4b4;
}

.lala {
   color: #3b7c82;
}

.lala:hover {
   color: #60b4b4;
}

input[type=text] {
   width: 100%;
   padding: 8px 10px;
   margin: 4px 0;
   border: 1px solid rgb(225, 225, 225);
   border-radius: 4px;
 }